.Rproj.user
.Rhistory
.Ruserdata
.DS_Store
**.sif
sif/
**.RData
**.local
**.config
.env
.sh_history
**.rds
**.txt
**.csv
**.tsv
**.xlsx
**.diff
**.merge
renv.lock
/Meta/
*.tar.gz
*.tgz
inst/doc
/doc/
/Meta/